@page "/Results"
@using SEval4.Models

<h3>Survey Results</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                AgeGroup
            </th>
            <th>
                EducationGroup
            </th>
            <th>
                ProfessionalExperience
            </th>
            <th>
                HasFormalTraining
            </th>
            <th>
               HasInformalTraining
            </th>
            <th>
               PhishingConfidence
            </th>
            <th>
               HumanConfidence
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var survey in Surveys)
            {
                <tr>
                    <td>
                        @AgeGroups.SingleOrDefault(ag => ag.Value == survey.AgeGroup).Text
                    </td>
                    <td>
                        @EducationGroups.SingleOrDefault(ag => ag.Value == survey.EducationGroup).Text
                    </td>
                    <td>
                        @YearGroups.SingleOrDefault(ag => ag.Value == survey.ProfessionalExperience).Text
                    </td>
                    <td>
                        @Convert.ToBoolean(survey?.HasFormalTraining)
                    </td>
                    <td>
                        @Convert.ToBoolean(survey?.HasInformalTraining)
                    </td>
                    <td>
                        @ConfidenceGroups.SingleOrDefault(ag => ag.Value == survey.PhishingConfidence).Text
                    </td>
                    <td>
                        @ConfidenceGroups.SingleOrDefault(ag => ag.Value == survey.HumanConfidence).Text
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {

    private List<ParticipantSurvey> Surveys = new();

    private List<AgeGroup> AgeGroups = new();
    private List<YearGroup> YearGroups = new();
    private List<EducationGroup> EducationGroups = new();
    private List<ConfidenceGroup> ConfidenceGroups = new();

    protected override async Task OnParametersSetAsync()
    {
        AgeGroups = await SurveyService.GetAgeGroupsAsync();
        YearGroups = await SurveyService.GetYearGroupsAsync();
        EducationGroups = await SurveyService.GetEducationGroupsAsync();
        ConfidenceGroups = await SurveyService.GetConfidenceGroupsAsync();
        Surveys = await SurveyService.GetParticipantSurveysAsync();
        await base.OnParametersSetAsync();
    }
}
