@page "/Postgame"
@using SEval4.Models

<div id="scenarioSurvey">
    <h1>Postgame survey</h1>
    <hr />
    <div id="form">

        <EditForm Model="@Answers" OnSubmit="@( async () => await Submit() )">

            @foreach (var answer in Answers)
            {
                int scenarioId = answer.ScenarioId;

                Scenario scenario = Scenarios
                    .Single(s => s.Id == scenarioId);

                List<Response> responses = Responses
                    .Where(r => r.ScenarioId == scenarioId)
                    .ToList();

                <div style="margin-bottom:20px; border:double; border-width:2px; padding:10px;">
                    <div>
                        <p>
                            <label for="@($"scenario{scenarioId.ToString()}")">
                                <b>@scenario.Context</b>
                            </label>
                        </p>
                    </div>
                    <hr />
                    <div>
                        <InputRadioGroup @bind-Value="answer.ResponseId" Name="@($"scenario{scenarioId.ToString()}")">
                            @foreach (Response resp in responses)
                                {
                                @* InputRadio doesn't work well at all, use Custom solution *@
                                <CustomRadio name="@($"scenario{scenarioId.ToString()}")"
                                             SelectedValue="resp.Id"
                                             OptionText="@resp.Text"
                                             @bind-Value="answer.ResponseId" />
                                }
                        </InputRadioGroup>
                    </div>
                </div>

                if (Answers.Last() != answer)
                {
                    <hr />
                }
            }

            <div>
                <button class="btn btn-primary" type="submit">Continue</button>
                <label class="alert text-danger">@ErrorMsg</label>
            </div>
            <div class="alert">
                <DataAnnotationsValidator />
                @*<ValidationSummary />*@
            </div>

        </EditForm>
    </div>
</div>

@code {

    #region User Guid

    private Guid UserGuid { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || UserGuid.Equals(Guid.Empty))
        {
            Guid? guid = await Storage.GetUserGuidOrNullAsync();

            if (guid is null)
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
                UserGuid = guid.Value;
            }

            await GetScenariosAndResponses();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    #endregion

    #region Scenarios, Responses, and Answer models

    private List<Scenario> Scenarios = new();
    private List<Response> Responses = new();
    private List<SurveyAnswer> Answers = new();

    private async Task GetScenariosAndResponses()
    {
        // Get data for questions
        Scenarios = await SurveyService.GetScenariosAsync(UserGuid, isRandomOrder: true);
        Responses = await SurveyService.GetResponsesAsync(isRandomOrder: true);

        // Preapre containers for answers
        for (int i = 0; i < Scenarios.Count; i++)
        {
            Answers.Add(new SurveyAnswer
            {
                UserId = UserGuid,
                ScenarioId = Scenarios[i].Id,
            });
        }

        StateHasChanged();
    }

    #endregion

    #region Validate and submit

    private string ErrorMsg = string.Empty;

    private async Task Submit()
    {
        if (IsFormValid(out string errorMsg))
        {
            await SurveyService.SubmitSurveyAnswersAsync(Answers, "Postgame");
            NavigationManager.NavigateTo("Feedback");
        }
        else
        {
            ErrorMsg = errorMsg;
        }

        await Task.CompletedTask;
    }

    private bool IsFormValid(out string errorMsg)
    {
        if (Answers?.Count != Scenarios.Count)
        {
            errorMsg = $"Internal error. Number of answers does not match with questions.";
            return false;
        }

        foreach (SurveyAnswer answer in Answers)
        {
            var response = Responses.SingleOrDefault(r =>
                r.ScenarioId == answer.ScenarioId &&
                r.Id == answer.ResponseId);

            if (response is null)
            {
                errorMsg = $"All fields are required.";
                return false;
            }
        }

        errorMsg = null;
        return true;
    }

    #endregion
}