@page "/Survey"
@using SEval4.Models

<div id="survey">
    <h3>Survey</h3>
    <div id="form">
        <EditForm Model="@ParticipantSurvey"
                  OnValidSubmit="@(async () => await Submit(true))"
                  OnInvalidSubmit="@(async () => await Submit(false))">

            @* AGE GROUP *@
            <p>
                <label>
                    <b>Please indicate your age.</b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.AgeGroup">
                    <option value="" selected>--</option>
                    @foreach (var option in this.AgeGroups)
                    {
                        <option value="@option.Id">@option.Text</option>
                    }
                </InputSelect>
            </p>

            @* EDUCATION *@
            <p>
                <label>
                    <b>What is your highest level of education?</b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.EducationGroup">
                    <option value="" selected>--</option>
                    @foreach (var option in this.EducationGroups)
                    {
                        <option value="@option.Id">@option.Text</option>
                    }
                </InputSelect>
            </p>

            @* PROFESSIONAL EXPERIENCE *@
            <p>
                <label>
                    <b>
                        How many years of experience do you have using email, telephone,
                        paper mail etc. within a professional organisation context?
                        e.g. office work involving email communication with clients
                        or other employees of the organisation
                    </b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.ProfessionalExperience">
                    <option value="" selected>--</option>
                    @foreach (var option in this.YearGroups)
                    {
                        <option value="@option.Id">@option.Text</option>
                    }
                </InputSelect>
            </p>

            @* FORMAL TRAINING *@
            <p>
                <label>
                    <b>
                        Have you undertaken any formal or professional training related to
                        safe email, telephone, paper mail etc. usage including how to identify
                        potential phishing emails and how to respond correctly?
                    </b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.HasFormalTraining">
                    <option value="" selected>--</option>
                    <option value="2">Yes</option>
                    <option value="1">No</option>
                </InputSelect>
            </p>

            @* INFORMAL TRAINING *@
            <p>
                <label>
                    <b>
                        Have you undertaken any self-training (informal) related to safe email,
                        telephone, paper mail etc. usage or actively sought to discover
                        any information that may help you to better identify potential
                        phishing emails and respond correctly? e.g. reviewing recommended security
                        advice on how to identify phishing emails?
                    </b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.HasInformalTraining">
                    <option value="" selected>--</option>
                    <option value="2">Yes</option>
                    <option value="1">No</option>
                </InputSelect>
            </p>

            <p>
                <label>
                    <b>Indicate your confidence in detecting phishing attacks received by email, telephone, paper maile etc.</b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.PhishingConfidence">
                    <option value="" selected>--</option>
                    @foreach (var opt in this.ConfidenceGroups)
                    {
                        <option value="@opt.Id">@opt.Text</option>
                    }
                </InputSelect>
            </p>

            <p>
                <label>
                    <b>Indicate your confidence in detecting a deception attempt in active correspondence.</b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.HumanConfidence">
                    <option value="" selected>--</option>
                    @foreach (var opt in this.ConfidenceGroups)
                    {
                        <option value="@opt.Id">@opt.Text</option>
                    }
                </InputSelect>
            </p>

            <div>
                <button class="btn btn-primary" type="submit">Continue</button>
                <label class="alert text-danger">@ErrorMsg</label>
            </div>
            <div class="alert">
                <DataAnnotationsValidator />
                @*<ValidationSummary />*@
            </div>
        </EditForm>

    </div>

</div>
@code {

    #region Fetch options

    private List<AgeGroup> AgeGroups = new();
    private List<YearGroup> YearGroups = new();
    private List<EducationGroup> EducationGroups = new();
    private List<ConfidenceGroup> ConfidenceGroups = new();


    protected override async Task OnInitializedAsync()
    {
        AgeGroups = await SurveyService.GetAgeGroupsAsync();
        YearGroups = await SurveyService.GetYearGroupsAsync();
        EducationGroups = await SurveyService.GetEducationGroupsAsync();
        ConfidenceGroups = await SurveyService.GetConfidenceGroupsAsync();

        await base.OnInitializedAsync();
    }

    #endregion

    #region Check UserGuid

    private Guid UserGuid = Guid.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || UserGuid.Equals(Guid.Empty))
        {
            Guid? guid = await Storage.GetUserGuidOrNullAsync();

            if (guid is null)
            {
                NavigationManager.NavigateTo("Introduction");
            }
            else
            {
                UserGuid = guid.Value;
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    #endregion

    #region Submit and continue

    private ParticipantSurvey ParticipantSurvey = new();
    private string ErrorMsg = string.Empty;
    private bool IsBusy = false;

    private async Task Submit(bool isValid)
    {
        ErrorMsg = string.Empty;

        // One message for any missing field
        if (!isValid)
        {
            ErrorMsg = "All fields are required.";
            return;
        }

        if (IsBusy)
        {
            ErrorMsg = "Did you just double click me?";
            return;
        }

        IsBusy = true;

        try
        {
            ParticipantSurvey.UserId = UserGuid;

            // Submit the Personal Survey
            await SurveyService.InsertNewParticipantSurveyAsync(ParticipantSurvey);
            
            // Randomise participant to a study group
            Guid studyGroupId = await SurveyService
                .AllocateParticipantAsync(UserGuid);

            // Store study group ID in SessionStorage
            await Storage.SetStudyGroupAsync(studyGroupId);

            NavigationManager.NavigateTo("BaselineIntro");

        }
        catch (DbUpdateException)
        {
            ErrorMsg = "The database believes you have already completed this form before. Cannot continue...";
            throw;
        }
        catch (Exception ex)
        {
            // Do some magic
            ErrorMsg = ex.InnerException.Message;
            throw;
        }
        finally
        {
            IsBusy = false;
        }

        await Task.CompletedTask;
    }

    #endregion
}
