@page "/sqltest"

@inject SurveyService SurveyService

<h3>TestSqlServer</h3>
@using SEval4.Models

<div id="survey">
    <h3>Survey</h3>
    <div id="form">
        <EditForm Model="@ParticipantSurvey"
                  OnValidSubmit="@(async () => Submit(true))"
                  OnInvalidSubmit="@(async () => Submit(false))">

            @* AGE GROUP *@
            <p>
                <label>
                    <b>Please indicate your age.</b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.AgeGroup">
                    <option value="" selected>--</option>
                    @foreach (var option in this.AgeGroups)
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                </InputSelect>
            </p>

            @* EDUCATION *@
            <p>
                <label>
                    <b>What is your highest level of education?</b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.EducationGroup">
                    <option value="" selected>--</option>
                    @foreach (var option in this.EducationGroups)
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                </InputSelect>
            </p>

            @* PROFESSIONAL EXPERIENCE *@
            <p>
                <label>
                    <b>
                        How many years of experience do you have using email, telephone,
                        paper mail etc. within a professional organisation context?
                        e.g. office work involving email communication with clients
                        or other employees of the organisation
                    </b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.ProfessionalExperience">
                    <option value="" selected>--</option>
                    @foreach (var option in this.YearGroups)
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                </InputSelect>
            </p>

            @* FORMAL TRAINING *@
            <p>
                <label>
                    <b>
                        Have you undertaken any formal or professional training related to
                        safe email, telephone, paper mail etc. usage including how to identify
                        potential phishing emails and how to respond correctly?
                    </b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.HasFormalTraining">
                    <option value="" selected>--</option>
                    <option value="2">Yes</option>
                    <option value="1">No</option>
                </InputSelect>
            </p>

            @* INFORMAL TRAINING *@
            <p>
                <label>
                    <b>
                        Have you undertaken any self-training (informal) related to safe email,
                        telephone, paper mail etc. usage or actively sought to discover
                        any information that may help you to better identify potential
                        phishing emails and respond correctly? e.g. reviewing recommended security
                        advice on how to identify phishing emails?
                    </b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.HasInformalTraining">
                    <option value="" selected>--</option>
                    <option value="2">Yes</option>
                    <option value="1">No</option>
                </InputSelect>
            </p>

            <p>
                <label>
                    <b>Indicate your confidence in detecting phishing attacks received by email, telephone, paper maile etc.</b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.PhishingConfidence">
                    <option value="" selected>--</option>
                    @foreach (var opt in this.ConfidenceGroups)
                    {
                        <option value="@opt.Value">@opt.Text</option>
                    }
                </InputSelect>
            </p>

            <p>
                <label>
                    <b>Indicate your confidence in detecting a deception attempt in active correspondence.</b>
                </label>
                <InputSelect class="form-control" @bind-Value="ParticipantSurvey.HumanConfidence">
                    <option value="" selected>--</option>
                    @foreach (var opt in this.ConfidenceGroups)
                    {
                        <option value="@opt.Value">@opt.Text</option>
                    }
                </InputSelect>
            </p>

            <div>
                <button class="btn btn-primary" type="submit">Continue</button>
                <label class="alert text-danger">@ErrorMsg</label>
            </div>
            <div class="alert">
                <DataAnnotationsValidator />
                @*<ValidationSummary />*@
            </div>
        </EditForm>

    </div>

</div>
@code {
    private ParticipantSurvey ParticipantSurvey = new();
    private List<AgeGroup> AgeGroups = new();
    private List<YearGroup> YearGroups = new();
    private List<EducationGroup> EducationGroups = new();
    private List<ConfidenceGroup> ConfidenceGroups = new();
    private string ErrorMsg = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        AgeGroups        = await SurveyService.GetAgeGroupsAsync();
        YearGroups       = await SurveyService.GetYearGroupsAsync();
        EducationGroups  = await SurveyService.GetEducationGroupsAsync();
        ConfidenceGroups = await SurveyService.GetConfidenceGroupsAsync();
        await base.OnInitializedAsync();
    }

    private void Submit(bool valid)
    {
        ErrorMsg = valid
            ? "Correct"
            : "False";
    }
}
